:root{
  --orange:#fd8e61;
}

body{
  margin:40px;
  font-family: Arial;
  color: #fd8e61;
}

.page-border{
   min-height: calc(100vh - 80px);
   border: 2px solid #fd8e61;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  position: relative;
}

.corner{
  position:absolute;
  width:28px;
  height:28px;
  background:var(--orange);
}

.corner.tl{top:0;left:0;}
.corner.tr{top:0;right:0;}
.corner.bl{bottom:0;left:0;}
.corner.br{bottom:0;right:0;}

.nav{
  position: static;
  display: flex;
  gap: 18px;
  margin-bottom: 30px;
}

.nav-btn{
  text-decoration: none;
  color: #fd8e61;
  border: 2px solid #fd8e61;
  padding: 10px 15px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: Arial;
}

.nav-btn:hover{
  background:#fd8e61;
  color:white;
}


.logo-wrap{
  text-align:center;
  margin-top:100px;
  margin-bottom:80px;
}

.logo{
  max-width:550px;
}

.instruction-box{
  border:2px solid var(--orange);
  width: 420px;
  height: auto;
  font-size: 17px;

  display:flex;
  align-items:center;
  justify-content:center;

  padding: 25px;
  box-sizing: border-box;
}

.instruction-inner{
  width: 30%;
  max-width: 300px;
  line-height:1.4;
  text-align:left;
}

.instructions-panel{
  width: 420px;
  height: 145px;             /* height of instruction box! */
  border: 2px solid var(--orange);
}

.instructions-header{
  background: rgba(255,132,84,0.2);
  border-bottom: 2px solid var(--orange);
  padding-left: 20px;
  padding-top:10px;
  padding-bottom:10px;
  font-family: Arial;
  font-size: 18px;
}

.instructions-content{
  font-size: 13px;
  line-height: 1.3;
  padding-top:15px;
  padding-bottom:10px;
  padding-left:22px;
  padding-right:22px;
}

.about-row{
  display:flex;
  gap:13px;
  justify-content:center;
  margin-top:20px;
  align-items:flex-start;
}
