.nav{
  position: static;   /* 또는 이 줄 자체 삭제해도 됨 */
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.nav-btn{
  text-decoration: none;
  color: #ff8454;
  border: 3px solid #ff8454;
  padding: 10px 18px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
}

.nav-btn:hover{
  background:#ff8454;
  color:white;
}

.logo-wrap{
  text-align: center;
  margin-top: 100px; 
  margin-bottom: 80px; 
}

.logo{
  max-width: 500px;   /* 필요하면 조절 */
}

body{
  margin:40px;
  font-family: Arial;
}

/* Section title */
h2{
  color:#ff8454;
  text-align:left;
  font-size: 23px;
  font-weight: 250;
  width:min(1000px,92vw);
  margin: 0 auto 10px auto;
}

/* Orange box */
.section-box{
  border:3px solid #ff7a45;
  padding:16px;
  width:min(1000px,92vw);
  margin: 0 auto 40px auto;   /* ← 이게 핵심 */
}

/* Rows */
.section-row{
  display:grid;
  grid-template-columns:60px 1fr;
  gap:20px;
  padding:4px 0;
  color:#ff8454;
  font-size:18px;
}

/* Numbers */
.section-num{
  font-variant-numeric: tabular-nums;
}

/* Text */
.section-text{
  word-break: break-word;
}

